.Particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.playball{
  text-align: center;
  font-family: 'Playball', cursive;
}

.animate {
  animation: 2s ease 2s normal forwards 1 fadein;
  -webkit-animation: 2s ease 2s normal forwards 1 fadein;
  opacity: 0;
}

.animate2 {
  animation: 3s ease 3s normal forwards 1 fadein;
  -webkit-animation: 3s ease 3s normal forwards 1 fadein;
  opacity: 0;
}

.animate3 {
  animation: 4s ease 4s normal forwards 1 fadein;
  -webkit-animation: 4s ease 4s normal forwards 1 fadein;
  opacity: 0;
}

@keyframes fadein{from{opacity:0}
  to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
  to{opacity:1}
}